/* test3.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../aset/Bluebg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}



.test-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position:center;
    display:flow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
    font-size:30px;
}

h1 {
    color: #333;
}

p {
    margin: 10px 0;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

#result {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #007BFF;
}

    a:hover {
        text-decoration: underline;
    }
