@page
@model Register_Agen.Pages.listagenModel
@{
}

<br>
<h2>List Agent</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>DateTime</th>
            <th>RegStatus</th>
            <th>Name</th>
            <th>Gender</th>
            <th>BirthPlace</th>
            <th>BirthDate</th>
            <th>Address</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Phone</th>
            <th>IdCard</th>
            <th>Strata</th>
            <th>Institution</th>
            <th>Major</th>
            <th>GPA</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Company</th>
            <th>Field</th>
            <th>Position</th>
            <th>WorkStartDate</th>
            <th>WorkEndDate</th>
            <th>JobDesc</th>
            <th>AttachmentType</th>
            <th>FileType</th>
            <th>FileName</th>
            <th>FilePath</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>